:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --main-heading-color: #212121;
  --black-logo-color: #000000;
  --secondary-background-color: #f5f4fa;
  --inactive-icon-color: #afb1b8;
  --main-background-color: #ffffff;
  --white-text-color: #ffffff;
  --white-text-color-with-opacity: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
}
button {
  font: inherit;
}
body {
  text-align: center;
  margin: 0;
  font-family: "Roboto";
  background-color: var(--main-background-color);
}
a:visited {
  color: initial;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
address {
  font-style: normal;
}
header {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;
  background-color: var(--footer-background-color);
  color: var(--white-text-color);
}
footer b {
  font-weight: 700;
  text-transform: uppercase;
}
footer .link {
  color: var(--white-text-color-with-opacity);
}
footer .link:hover,
footer .link:focus {
  color: var(--white-text-color-with-opacity);
  text-decoration: underline;
}

.nav-menu {
}
.section.examples h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: initial;
}
.example-card-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;
}
.example-card .description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;
}
.section.examples .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  letter-spacing: 0.03em;
}
.container.header .link {
  margin-right: 30px;
}
.container.header .link:last-child {
  margin: 0px;
}
.button {
  box-sizing: border-box;
  display: inline-block;
  border-radius: 4px;
  border-width: 0;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 29px;
  min-width: 200px;
}
.button.primary,
.button.active,
.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
.nav-button.active,
.nav-button:hover,
.nav-button:focus,
.button.secondary .button.primary:hover,
.button.primary:focus {
  background-color: var(--main-background-color);
  color: var(--accent-color);
}
.nav-menu .button {
  color: var(--main-heading-color);
  background-color: var(--main-background-color);
}
.hero .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-text-color);
  /* identical to box height, or 188% */

  background-color: var(--accent-color);
  text-align: center;
  letter-spacing: 0.06em;
}
footer .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  letter-spacing: 0.06em;
}
.worker-card {
  background-color: var(--main-background-color);
}
.section {
  color: var(--primary-text-color);
}
.section .heading {
  color: var(--main-heading-color);
}
.section.secondary {
  background-color: var(--secondary-background-color);
}
.section.features {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 400;
  line-height: 1.71;
}
.section.features .heading {
  text-transform: uppercase;
}
.section.doing {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section.our-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}
.section.our-team .heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
}
.worker-card-name {
  color: var(--main-heading-color);
  font-weight: 500;
  font-size: 1, 1875;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.worker-card-container {
  width: min-content;
  padding-bottom: 24px;
  margin-left: 0px;
  margin-right: 0px;
}
.worker-card-container p {
  margin-bottom: 16px;
}
.worker-card-container img {
  margin-bottom: 30px;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.nav-menu .button:hover,
.nav-menu .button:focus,
.nav-menu .button.active {
  color: var(--accent-color);
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--black-logo-color);
}
.logo span {
  color: var(--accent-color);
}
footer .logo {
  color: var(--white-text-color);
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.example-card {
  background-color: var(--main-background-color);
}
.example-card .heading {
  color: var(--main-heading-color);
}
.example-card-type {
  color: var(--primary-text-color);
}
.example-card .description:hover,
.example-card .description:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 94px;
  padding-top: 94px;
}
.container.header {
  padding-bottom: 25px;
  padding-top: 25px;
}
.hero > .container {
  text-align: center;
}
.hero > .container h1 {
  margin-bottom: 30px;
}
.section-features-item img {
  margin-bottom: 30px;
}
.container.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.follow {
}
.container.footer .contacts > .link:nth-child(1n) {
  margin-bottom: 9px;
}
.container {
  text-align: center;
}
.container h3 {
  margin-bottom: 10px;
}
.container h2 {
  margin-bottom: 50px;
}
.section.examples .container {
  padding-top: 93px;
  padding-top: 94px;
}
.filter-buttons {
  margin-bottom: 50px;
}
.filter-results {
  margin-bottom: 20px;
}
.example-card .heading {
  margin-bottom: 4px;
}
.example-card-name {
  text-align: left;
  padding: 24px, 20px;
}
