.header-container {
  @extend %container;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  z-index: 10;
  @extend %flex-centered;
  height: 60px;
  @media screen and (min-width: $tablet-width) {
    height: 80px;
  }
}
.header-logo {
  @extend %decoration-clear;
  @extend %logo;
}
.logo__accent {
  @extend %logo-accent;
}
.not-nav-menu__container {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 100%;
  background-color: $main-background-color;
  justify-content: space-between;
  @extend %flex-centered;
  position: relative;
  z-index: 10;
}
.nav-menu__container {
  @media screen and (min-width: $tablet-width) {
    display: none;
  }
  position: absolute;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  bottom: 0;
  left: 0;
  pointer-events: none;
  transition: transform linear 250ms;
  text-align: center;

  background-color: $main-background-color;

  &.is-open {
    pointer-events: all;
    transform: translate(0, 100%);
  }
}
.nav-menu {
  @extend %decoration-clear;
  @extend %flex-centered;
  @extend %mp-clear;
  @media screen and (max-width: ($tablet-width )) {
    flex-direction: column;
    margin-bottom: 60px;
  }
  .not-nav-menu__container & {
    @media screen and (max-width: ($tablet-width)) {
      display: none;
    }
  }
  @media screen and (min-width: $desktop-width) {
    transform: translate(-100px, 0);
  }
}
.nav-menu__item {
  @media screen and (max-width: ($tablet-width )) {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  @media screen and (min-width: ($tablet-width)) {
    &:not(:last-child) {
      margin-right: 50px;
    }
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
  @extend %blue-hover;
  color: $main-heading-color;
}
.nav-button {
  position: relative;
  text-decoration: none;
  &:visited {
    text-decoration: none;
    color: inherit;
  }
  &.active {
    color: $accent-color;
  }
  &.active::after {
    position: absolute;
    bottom: -8px;
    left: 0;
    content: "";
    border-radius: 2px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    @media screen and (min-width: $tablet-width) {
      bottom: -28px;
    }
  }

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  @media screen and (min-width: ($tablet-width)) {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
}
.header__email {
  @extend %link;
  @extend %flex-centered;
  @extend %default-p;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: ($tablet-width )) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: $desktop-width) {
    margin-right: 30px;
  }
}
.header__icon-email {
  fill: currentColor;
}
.header__contact-info {
  @extend %blue-hover;
  @extend %mp-clear;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;

  margin-left: 10px;

  @media screen and (min-width: $tablet-width) {
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    letter-spacing: 0.02em;
  }
  @media screen and (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 16px;
  }
}
.header__phone-number {
  @extend %link;
  @extend %default-p;
  @extend %flex-centered;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.header__icon-phone {
  fill: currentColor;
}
.nav-menu__open-button {
  @media screen and (min-width: $tablet-width) {
    display: none;
  }
  @extend %link;
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 0;
  padding: 0;
}
.nav-menu__close-icon,
.nav-menu__open-icon {
  fill: currentColor;
}
.nav-menu__container.is-open + .not-nav-menu__container {
  .nav-menu__open-icon {
    display: none;
  }
  .nav-menu__close-icon {
    display: block;
  }
}
.nav-menu__close-icon {
  display: none;
}
.header__contacts {
  .not-nav-menu__container & {
    @media screen and (max-width: ($tablet-width )) {
      display: none;
    }
  }
  @media screen and (min-width: $desktop-width) {
    display: flex;
  }
}
.header-full-container {
  display: none;
  @media screen and (min-width: $tablet-width) {
    display: flex;
  }
}
